<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.label :comment_body %>
    <%= f.text_field :comment_body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>